:root {
    --color1: #1a5817;
    --color2: #ffffff;

    --text-color-light: #3cd834;
    --text-color: #ffffff;
    --text-color-dark:  #327a2f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

body > h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    height: 10vh;
    padding: 1rem;

    background-color: var(--color1);
    border-bottom: 0.5rem solid var(--text-color-light);

    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

body > h1,
nav > * {
    font-weight: 700;
    color: var(--text-color);
}

body > nav {
    position: absolute;
    z-index: 2;
    top: 10vh;

    height: 3vh;
    width: 35vw;
    grid-row: 2 / 3;
    padding: 1rem;

    display: flex;
    justify-self: center;

    justify-content: space-between;
    align-items: center;

    border: 0.5rem solid var(--text-color-light);
    border-top: transparent;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: var(--color1);
}

nav > button {
    margin: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: transparent;
}

nav button:hover {
    cursor: pointer;
    color: var(--text-color-light);
}

nav button:active {
    color: var(--text-color-dark)
}

#content {
    grid-row: 3 / -1;

    width: 100vw;
    height: 85vh;

    background-image: url("./images/restaurant-home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#content #home,
#content #about {
    width: 30vw;
    height: 90%;

    border: 0.5rem solid black;
    border-radius: 1rem;
    margin: 2rem;

    display: flex;
    justify-self: flex-end;

    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.3);
}

#home h1,
#about h1,
#menu h1 {
    align-self: center;
    justify-self: center;

    color: var(--text-color);
    text-decoration: underline;
    text-align: center;
}

#home > h1,
#about > h1,
#menu > h1 {
    font-size: 3rem;
}

.service h1,
.food h1,
.location h1,
.contact-info h1 {
    justify-self: center;
    padding: 1rem;
    font-size: 2rem;
}

#home p,
#about p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

#menu {
    width: 80vw;
    height: auto;

    display: flex;
    justify-self: center;
    align-self: center;

    background-color: rgba(0, 0, 0, 0.3);
    border: 0.5rem solid black;
    border-radius: 1rem;
    margin: 3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto repeat(3, 1fr);
}

#menu > h1 {
    grid-area: 1 / 1 / 2 / -1;
}

.menu-item {
    width: 70%;
    height: 90%;

    display: flex;
    justify-self: center;
    align-self: center;

    border: 0.3rem solid var(--color2);
    background-color: var(--color1);
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 2fr;
}

.menu-item-image {
    grid-area:  1 / 1 / -1 / 2;
    width: 75%;
    height: auto;

    display: flex;
    align-self: center;
    justify-self: center;

    border: 0.3rem solid var(--text-color-light);
    border-radius: 1rem;
}

.menu-item-name {
    grid-area: 1 / 2 / 2 / -1;
    font-size: 1.5rem;
}

.menu-item-price {
    grid-area: 2 / 2 / 3 / -1;
}

.menu-item-description {
    grid-area: 3 / 2 / -1 / -1;
}

.menu-item > p {
    font-size: 1.3rem;
    color: var(--text-color);
    text-align: center;
}