:root {
    --color1: #1a5817;
    --color2: #ffffff;

    --text-color-light: #3cd834;
    --text-color: #ffffff;
    --text-color-dark:  #327a2f;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 10vh;
    padding: 1rem;

    background-color: var(--color1);
    border-bottom: 0.8rem solid var(--color2);
}

header > h1,
nav > * {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: underline;
    text-underline-offset: 0.3rem;

    margin: 1rem;
}

header > h1 {
    font-size: 2rem;
}

.page-nav {
    padding: 1rem;
}

nav > button {
    border: transparent;
    background-color: transparent;
}

nav button:hover {
    cursor: pointer;
    color: var(--text-color-light);
}

nav button:active {
    color: var(--text-color-dark)
}

#content {
    grid-column: 2 / -1;

    width: 100vw;
    height: 90vh;

    background-image: url("./images/restaurant-home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#content #home,
#content #about {
    width: 30vw;
    height: 90%;

    border: 0.5rem solid black;
    border-radius: 1rem;
    margin: 2rem;

    display: flex;
    justify-self: flex-end;

    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.3);
}

#home h1,
#about h1 {
    align-self: center;
    justify-self: center;

    color: var(--text-color);
    text-decoration: underline;
    text-align: center;
}

#home > h1,
#about > h1 {
    font-size: 3rem;
}

.service h1,
.food h1,
.location h1,
.contact-info h1 {
    justify-self: center;
    padding: 1rem;
    font-size: 2rem;
}

#home p,
#about p {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
}

#menu {
    width: 80vw;
    height: 90%;

    display: flex;
    justify-self: center;
    align-self: center;

    background-color: rgba(0, 0, 0, 0.3);
    border: 0.5rem solid black;
    border-radius: 1rem;
    margin: 2rem;
}